<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPhoneNumber</key>
	<string>YOUR_PHONE_NUMBER</string>
	<key>DefaultCountryCode</key>
	<string>1</string>
	<key>Life360BasicAuth</key>
	<string>Basic YOUR_BASE64_ENCODED_CREDENTIALS</string>
</dict>
</plist>

